*{
    background-color: #121212 ;
    color:azure;
    
    
}

/* h1{
    color:azure;
}

label{
    color: azure;
}
button{
    color: azure;
}



input{
    color: azure;
} */

textarea{
    color: azure;
    opacity: 80%;
}